asgiref
certifi
cffi
charset-normalizer
cryptography
dj-database-url
Django
django-anymail
django-cors-headers
gunicorn
idna
psycopg2-binary
pycparser
requests
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
six