asgiref==3.7.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography
dj-database-url
Django
django-anymail
django-cors-headers
gunicorn
idna
psycopg2-binary
pycparser
requests
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
