{% load static %}

<footer id="footer" class="position-relative bg-transparent border-top-0">
   
    
    <div class="container pt-5-5 pb-3">
        <div class="row gy-5">
            <div class="col-lg-4">
                <a href="" class="text-decoration-none">
                    <img src="{% static 'assets/img/demos/insurance/oaksville_logo2.jpg' %}" width="223" height="146" class="img-fluid mb-4" alt="Porto Insurance" />
                </a>
                <p class="text-3-5 pe-lg-2">Best digital bank and insuance company. </p>
                <ul class="list list-unstyled">
                    <li class="d-flex align-items-center mb-4">
                        <i class="icon icon-envelope text-color-dark text-5 font-weight-bold position-relative top-1 me-3-5"></i>
                        <a href="mailto:support@oaksvillecapital.com" class="d-inline-flex align-items-center text-decoration-none text-color-dark text-color-hover-primary font-weight-semibold text-4-5"><span class="" data-cfemail="">support@oaksvillecapital.com</span></a>
                    </li>
                    <li class="d-flex align-items-center mb-4">
                        <i class="icon icon-phone text-color-dark text-5 font-weight-bold position-relative top-1 me-3-5"></i>
                        <a href="tel:8001234567" class="d-inline-flex align-items-center text-decoration-none text-color-dark text-color-hover-primary font-weight-semibold text-4-5">(480) 377-8100</a>
                    </li>
                </ul>
                <ul class="social-icons social-icons-clean social-icons-medium">
                    <li class="social-icons-instagram">
                        <a href="#" target="_blank" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="social-icons-twitter">
                        <a href="3" target="_blank" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social-icons-facebook">
                        <a href="#" target="_blank" title="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="row mb-5-5">
                    <div class="col-lg-6 mb-4 mb-lg-0">
                        <h4 class="text-color-dark font-weight-bold mb-3">Navigation</h4>
                        <ul class="list list-unstyled columns-lg-2">
                            <li><a href="#" class="text-color-grey text-color-hover-primary">Home</a></li>
                            <li><a href="#" class="text-color-grey text-color-hover-primary">About Us</a></li>
                            <li><a href="#" class="text-color-grey text-color-hover-primary">Insurance Products</a></li>
                            <li><a href="#" class="text-color-grey text-color-hover-primary">Agents</a></li>
                            <li><a href="#" class="text-color-grey text-color-hover-primary">Blog</a></li>
                            <li><a href="#" class="text-color-grey text-color-hover-primary">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="text-color-dark font-weight-bold mb-3">Insurance Products</h4>
                        <ul class="list list-unstyled columns-lg-2">
                            <li><a href="#" class="text-color-grey text-color-hover-primary">Home Insurance</a></li>
                            <li><a href="#" class="text-color-grey text-color-hover-primary">Travel Insurance</a></li>
                            <li><a href="#" class="text-color-grey text-color-hover-primary">Life Insurance</a></li>
                            <li><a href="#" class="text-color-grey text-color-hover-primary">Vehicle Insurance</a></li>
                            <li><a href="#" class="text-color-grey text-color-hover-primary">Business Insurance</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="alert alert-success d-none" id="newsletterSuccess">
                            <strong>Success!</strong> You've been added to our email list.
                        </div>
                        <div class="alert alert-danger d-none" id="newsletterError"></div>
                        <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center">
                            <h4 class="text-color-dark ws-nowrap me-3 mb-3 mb-lg-0">Subscribe to Newsletter:</h4>
                            <form id="newsletterForm" class="form-style-3 w-100" action="https://www.okler.net/previews/porto/9.9.2/php/newsletter-subscribe.php" method="POST">
                                <div class="d-flex">
                                    <input class="form-control custom-form-control-newsletter-field box-shadow-none" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text" />
                                    <button class="btn btn-primary custom-form-control-newsletter-btn btn-px-3 btn-py-2 font-weight-bold" type="submit">
                                        <img width="27" height="27" src="img/demos/insurance/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light'}" style="width: 27px;" />
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-transparent">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col mt-4 mb-4">
                    <p class="text-center text-3 mb-0">Oaksville Capital © 2023. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>